.color-choices{
	text-align: center;
    display: flex;
    flex-direction: row;
	
	>li{
		list-style: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border-bottom: 5px solid rgba(0, 0, 0, .1);
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		transition-duration: .2s;
		box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
		
		&:hover{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			border-bottom: 7px solid rgba(0, 0, 0, .15);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
		}
		
		&.active-color{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
			border-bottom: 10px solid rgba(0, 0, 0, .15);
		}
		
		&:nth-child(1){
			background-color: #2ecc71;
		}
		
		&:nth-child(2){
			background-color: #D64A4B;
		}
		
		&:nth-child(3){
			background-color: #8e44ad;
		}
		
		&:nth-child(4){
			background-color: #46a1de;
		}
		
		&:nth-child(5){
			background-color: #bdc3c7;
		}
	}
}