<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="../assets/img/Dave_Logo/sidebar-1.jpg">
        <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
    -->
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                    <img src="https://s3-us-west-2.amazonaws.com/evolve-app/logo/evolve-logo-white-no-lines-03.svg" style="height: 45px">
            </a>
        </div>

        <div class="logo logo-mini">
            <a href="http://www.creative-tim.com" class="simple-text">
                    <img src="../assets/img/Dave Logo/dave-logo-03.svg" style="height: 50px"/>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img ng-src="{{user.profile_picture}}"/>
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            {{user.first_name}} {{user.last_name}}
                            <b class="caret"></b>
                        </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#">Goals</a>
                            </li>
                            <li>
                                <a ui-sref="me/habits">Habits</a>
                            </li>
                            <li>
                                <a href="#">Projects</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li>
                    <a href="#">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">date_range</i>
                        <p>Calendar</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">list</i>
                        <p>Lists</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">fitness_center</i>
                        <p>Health/Fitness</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">weekend</i>
                        <p>Hobbies</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>