
<div class="card">
    <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">timeline</i>
    </div>
    <div class="card-content">
        <h4 class="card-title text-left">
            Habit Progress
            <button class="btn btn-round btn-simple btn-fab btn-fab-mini pull-right" data-toggle="modal" data-target="#myModal"><i class="material-icons" style="font-size: 30px">add_circle_outline</i></button>
            <!--<small class="pull-right">Create New</small>-->

        </h4>




        <div class="col-md-11">

            <!--HABITS-->
            <div class="row">
                <div class="col-md-11">
                    <div>
                        <p class="text-muted" style="display: inline-block">Habit 1</p>
                        <button class="btn btn-round btn-simple btn-fab btn-fab-mini pull-right" data-toggle="modal" data-target="#myModal"><i class="material-icons text-gray align-middle" style="font-size: 12px">settings</i></button>
                    </div>
                    <div class="progress progress-line-primary progress-height">
                        <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0"aria-valuemax="20" style="width: 30%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-1">
                    <button class="btn btn-round btn-rose btn-just-icon" style="font-size:16px">15</button>
                </div>
            </div>
            <hr>

        </div>

    </div>
    
</div>




